/* #blue{
    color: white;
    border-radius: 2px;
    background-color: #0000ff;
}

#red{
    color: white;
    border-radius: 2px;
background-color: red;
}

#green{
    color: white;
    border-radius: 2px;
background-color: green;
} */